<div class="col-xl-5 col-lg-5 col-12 col-md-5 col-xs-12 col-xm-12" >
    <div class="account-nav-wrap"  style="float: right;width: 50%;height:560px">
    <div class="list-group nav-account">
      <a routerLink="/my-account" class="list-group-item list-group-item-action active" title="My account" style="height:60px;border: 1px solid #bf7d1f;">
        My account					</a>
                    <a routerLink="/my-bonuses" class="list-group-item list-group-item-action " title="My Bonuses" style="height:60px;border: 1px solid #bf7d1f;">
        My Bonuses					</a>
                    <a routerLink="/kyc-verification" class="list-group-item list-group-item-action " title="KYC Verification" style="height:60px;border: 1px solid #bf7d1f;">
        KYC Verification					</a>
                    <a routerLink="/change-password" class="list-group-item list-group-item-action " title="Change Password" style="height:60px;border: 1px solid #bf7d1f;">
        Change Password					</a>
                    <a routerLink="/history-financial" class="list-group-item list-group-item-action " title="Transactions" style="height:60px;border: 1px solid #bf7d1f;">
        Transactions					</a>
                    <a routerLink="/history-betting" class="list-group-item list-group-item-action " title="Casino History" style="height:60px;border: 1px solid #bf7d1f;">
        Casino History					</a>
            
                    <a href="#" class="list-group-item list-group-item-action btn-logout" title="Logout" style="height:60px;border: 1px solid #bf7d1f;">Logout</a>
     
    </div>
    </div>
    </div>