@media (max-width: 767px)  {
    .web{display: none;}
  .mobi{display: block;}
  .dropdown-item{
    font-size: 9px;
    background-color: rgb(34, 33, 33);
    color: rgb(155, 153, 153);
    
  }
  .ami{
    font-weight: 800;
    font-size: 13px;
    color: rgb(255, 255, 255);
  }
  .ng-scope{
    font-size: 9px;
    color: rgb(255, 255, 255);
  }
  }
  @media (min-width: 768px)  {
    .web{display: block;}
  .mobi{display: none;}
  .ng-scope{
    font-size: 19px;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 1%;
    text-align: justify;
    color: rgb(255, 255, 255);
  }
  .ami{
    font-weight: 800;
    font-size: 18px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
  }
  }
  