
<div class="container">
    <h2 style="color: rgb(224, 224, 224);margin-top: 2%">
        Top casino games
    </h2>
    <div class="row" style="margin-top:2%">
        <div class="col-md-3 col-6">
            <div class="center">
                <article class="card">
                  <img src="https://static.inpcdn.com/16,04feb3ddc5b1ad.webp" class="image">
                  <h2 class="card__title">
                    Card Title
                  </h2>
                </article>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="center">
                <article class="card">
                  <img src="https://static.inpcdn.com/16,04e9df54637976.webp" class="image">
                  <h2 class="card__title">
                    Card Title
                  </h2>
                </article>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="center">
                <article class="card">
                  <img src="https://static.inpcdn.com/18,04e9dc0bd34b7d.webp" class="image">
                  <h2 class="card__title">
                    Card Title
                  </h2>
                </article>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="center">
                <article class="card">
                  <img src="https://static.inpcdn.com/16,04feb3ddc5b1ad.webp" class="image">
                  <h2 class="card__title">
                    Card Title
                  </h2>
                </article>
            </div>
        </div>
    </div>
    <h2 style="color: rgb(224, 224, 224);margin-top: 6%; margin-bottom: 5%;">
        Mini games
    </h2>
    <div class="row" style="margin-top:2%">
        <div class="col-md-3 col-6">
            <div class="game-card " >
                <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" style="background: linear-gradient(#00a5f1, #972ae0);border-radius: 20px;">
                    <div class="imgBox">
                        <img src="../../../assets/hilo-cards-withArrows.png"  class="tl">
                        <div class="flex-container">
                            <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                              <span style="font-family: 'Luckiest Guy', cursive;">Hilo</span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="game-card">
                <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" style="background: linear-gradient(#972ae0, #0234d8);border-radius: 20px;">
                    <div class="imgBox">
                        <img src="../../../assets/dinosaur.png" class="tl">
                    </div>
                    <div class="imgBo">
                        <img src="../../../assets/cactus.png" style="right: 20PX; bottom:0px;height:70px;position: absolute;">
                        <div class="flex-container">
                            <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                              <span style="font-family: 'Luckiest Guy', cursive;">Dino</span>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div  class="game-card" >
                <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1">
                    <div class="imgBox">
                        <img src="../../../assets/dice-bg.png" class="tldice2">
                        <img src="../../../assets/dice-cube.png"  class="tldice" style="right: 0PX; bottom:10px;position: absolute;">
                        <div class="flex-container">
                            <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                              <span style="font-family: 'Luckiest Guy', cursive;">Dice</span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="game-card" >
                <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" >
                    <div class="imgBox">
                        <img src="../../../assets/chicken-bg.png"  class="tldice2">
                        <img src="../../../assets/chicken-dinner.png" class="tldice" style="right: 0PX; bottom:50px;position: absolute;">
                        <div class="flex-container">
                            <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                            <span style="font-family: 'Luckiest Guy', cursive;">chicken</span>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>