@media screen and (min-width: 992px) {
    .mobil {
        display: none;
    }
    .web {
        display: block;
    }
    .tt{
        width: 500px;
    }
}

@media screen and (max-width: 991px) {
    .mobil {
        display: block;
    }
    .web {
        display: none;
    }
    .tt{
        width: 100%;
    }
    .cn1{
        margin-top: 20%;
    }
}

button {
    background: linear-gradient(#d86600,#fac645,#d86600);
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 999;
}

button:focus {
    outline: none;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
}

@media (min-width: 992px) {
    .web {
        display: block;
    }
    .mobi {
        display: none !important;
    }
    .header-login {
        display: block;
        width: 110px;
        text-align: center;
        background-color: #00a2ff;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 0;
        color: #000;
        cursor: pointer;
        border-radius: 3px;
        border-color: #000;
        line-height: 1;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: inherit;
    }
    li {
        float: left;
    }
    .navi li>a {
        display: block;
        text-align: center;
        text-decoration: none;
        position: relative;
        display: block;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        
        color: #d5d5d5;
    }
    li>a {
        display: block;
        color: white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        display: block;
        height: 50px;
        line-height: 20px;
        padding: 0 5px;
        vertical-align: middle;
        display: table-cell;
    }
    li>a:hover {
        background-color: #111111;
        color: rgb(255, 255, 255);
    }
    .navi li>a:hover {
        background-color: transparent;
    }
    .fontgrasandcentre {
        height: 50px;
        font-weight: bold;
        font-size: 7px;
    }
    select {
        background: #0296ec;
        height: 50px;
        line-height: 50px;
        text-align-last: center;
        border-style: none;
        color: white;

       
    }
    .fontgrasandcentre {
        padding-top: 17px;
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    p {
        font-family: Lato;
    }
}

@media (min-width: 750px) and (max-width: 768px) {
    .xc {
        width: 100px;
    }
}

@media (max-width:991px) {
    .textsiz {
        font-size: 9px;
    }
    .xc {
        width: 100px;
    }
    .web {
        display: none !important;
    }
    .mobi {
        display: block;
    }
    .header-login {
        width: 75px;
        text-align: center;
        background-color: #00a2ff;
        font-size: 11px;
        font-weight: 600;
        padding: 8px 0;
        color: #000;
        cursor: pointer;
        border-radius: 3px;
        border-color: #000;
        line-height: 1;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    .navi li>a {
        padding: 0 5px;
        display: block;
        text-align: center;
        text-decoration: none;
        position: relative;
        display: block;
        height: 14px;
        line-height: 12px;
        font-size: 11px;
        color: #d5d5d5;
    }
    li>a {
        display: block;
        color: white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        display: block;
        height: 30px;
        line-height: 20px;
        padding: 0 5px;
        vertical-align: middle;
        display: table-cell;
    }
    li>a:hover {
        background-color: #111111;
        color: rgb(255, 255, 255);
    }
    .navi li>a:hover {
        background-color: transparent;
    }
    .fontgrasandcentre {
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 7px;
    }
    select {
        background: #0296ec;
        height: 50px;
        line-height: 50px;
        text-align-last: center;
        border-style: none;
        color: white;
    }
}


@media (min-width: 768px) and (max-width: 1360px) {
    .fontgrasandcentre {
        font-size: 11px;
        right: 0;
        top: 0;
    }
}

@media (min-width: 1361px) {
    .fontgrasandcentre {
        float: left;
        text-align: left;
        top: 20px;
    }
}

@media (max-width:299px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    .navi li>a {
        padding: 0 5px;
        display: block;
        text-align: center;
        text-decoration: none;
        position: relative;
        display: block;
        height: 14px;
        line-height: 12px;
        font-size: 6px;
        color: #d5d5d5;
    }
    li>a {
        display: block;
        color: white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        display: block;
        height: 30px;
        line-height: 20px;
        padding: 0 5px;
        vertical-align: middle;
        display: table-cell;
    }
    li>a:hover {
        background-color: #111111;
        color: #d5d5d5;
    }
    .navi li>a:hover {
        background-color: transparent;
        color: #d5d5d5;
    }
}

@media (max-width: 991px) {
    .img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media screen and (min-width: 993px) {
        *,
         ::after,
         ::before {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        button {
            appearance: button;
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
            box-sizing: border-box;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            border-image: initial;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 1px 6px;
            font-size: 10px;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
      
        a:hover {
            color: #f0c403;
            text-decoration: none;
        }
        .button:hover {
            background-color: #c29f06;
            /* Green */
            color: white;
        }
        nav ul a {
            position: relative;
            text-decoration: none;
            color: #a39f9b;
        }
        nav ul>a:hover>li {
            animation-name: menu_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
        nav ul>a:hover {
            animation-name: text_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            color: #c29f06;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            transition: .3s linear;
        }
        ul {
            list-style-type: none;
        }
        li {
            margin-left: 2px;
            float: left;
        }
        a {
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
            color: #f0c403;
        }
        ul>a:hover {
            animation-name: text_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            color: #c29f06;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            transition: .3s linear;
        }
        ul>a {
            color: #a39f9b;
        }
        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .col-2 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }
        .footer {
            color: #636c72;
            border-top: 1px solid #454444;
            background: -webkit-gradient(linear, left top, left bottom, from(#2a2a2a), to(#232323));
            background: linear-gradient(to bottom, #2a2a2a 0, #232323 100%);
            font-size: 14px;
            line-height: 1.35em;
            padding: 50px 50px 100px 30px;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }
    @media (max-width: 992px) {
        input[type="button"]{
            outline:none;
            border: 0;
         }
         input[type="button"]::-moz-focus-inner {
            border: 0;
            outline: 0;
            border: 0;
         }
          
        .divblock {
            display: none;
        }
        .form-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-left: 3%;
            margin-right: 3%;
            background-color: #272626;
        }
        *,
         ::after,
         ::before {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        button {
            appearance: button;
            -webkit-writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: -internal-light-dark(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
            box-sizing: border-box;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            border-image: initial;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 1px 6px;
            font-size: 10px;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        µ
        .btn:focus { box-shadow: 0 4px 2px -2px gray;}
        .button:active {
            background-color: #c29f06;
            /* Green */
            color: white;
        }
        nav ul a {
            position: relative;
            text-decoration: none;
            color: #a39f9b;
        }
        nav ul>a:hover>li {
            animation-name: menu_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
        nav ul>a:hover {
            animation-name: text_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            color: #c29f06;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            transition: .3s linear;
        }
        a {
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
        }
        ul>a:hover {
            animation-name: text_fadein;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            color: #c29f06;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            transition: .3s linear;
        }
        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn-mobile-trigger {
            width: 40px;
        }
        .btn-white-outline {
            color: #f0c403;
            background-image: none;
            background-color: transparent;
            border-color: #ffffff;
        }
        .btn-sm {
            padding: .25rem .5rem;
            font-size: .875rem;
            border-radius: .2rem;
        }
        
        a {
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
            color: #fff;
            touch-action: manipulation;
        }
        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border-style: none;
        }
        .btn-white-outline:focus {
            -webkit-box-shadow: 0 0 0 2px rgba(240, 196, 3, .5);
            box-shadow: 0 0 0 2px rgba(240, 196, 3, .5);
        }
        .btn-white-outline:hover {
            color: #000;
            background-color: #00a2ff;
            border-color: #00a2ff;
        }
        .btn:focus {
            background-color: #000 !important;
            box-shadow: 0 4px 2px -2px  #00a2ff;
        }
        .btn:focus,
        .btn:hover {
            background-color: #000 !important;
            box-shadow: 0 4px 2px -2px  #00a2ff;
        }
        .btn-white-outline {
            color: #F0C402;
            background-image: none;
            background-color: transparent;
            border-color: #ffffff;
            border-top-color: #ffffff;
            border-right-color: #ffffff;
            border-bottom-color: #ffffff;
            border-left-color: #ffffff;
        }
        a {
            text-decoration: none;
        }
        .mr-sm-2 {
            margin-right: .5rem!important;
        }
        .nav-mobile-user-info .clear .js-username {
            font-weight: 700;
            font-size: 12px;
            color: #f0c403;
        }
        .nav-mobile-user-info b {
            color: #eceeef;
            float: left;
        }
        .nav-mobile-user-info .clear {
            display: block;
            clear: both;
        }
        .nav-mobile-user-info span {
            color: #fff;
        }
        .mm-menu .mm-listview>li>a,
        .mm-menu .mm-listview>li>span {
            color: #fff;
            padding: 8px 10px 8px 20px;
        }
        .mm-listview>li>a,
        .mm-listview>li>span {
            color: inherit;
            display: block;
            padding: 10px 10px 8px 20px;
            margin: 0;
        }
        .mm-listview .mm-divider,
        .mm-listview>li>a,
        .mm-listview>li>span,
        .mm-navbar .mm-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .nav-mobile-user-info {
            background-color: #333;
            padding-top: 10px!important;
        }
        .mm-listview,
        .mm-listview>li {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
        }
        .mm-menu .mm-listview {
            font-size: 16px;
            line-height: 24px;
        }
        .nav-mobile-user-info .clear .btn-refresh {
            color: #f0c403;
        }
        .nav-mobile-user-info .clear span {
            float: right;
        }
        html.mm-opening .mm-menu.mm-effect-listitems-slide .mm-panel.mm-opened .mm-listview>li {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        .mm-menu .mm-listview>li {
            border-color: #000;
        }
        .mm-listview,
        .mm-listview>li {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
        }
        .mm-menu .mm-listview {
            font-size: 16px;
            line-height: 24px;
        }
        #nav-mobile-user ul>li>a {
            color: #f0c403;
        }
        .mm-menu .mm-listview>li>a,
        .mm-menu .mm-listview>li>span {
            color: #fff;
            padding: 8px 10px 8px 20px;
        }
        #nav-mobile-user ul>li>a {
            color: #f0c403;
        }
        .mm-listview .mm-divider,
        .mm-listview>li>a,
        .mm-listview>li>span,
        .mm-navbar .mm-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        #idcoloruserinfo {
            color: #f0c403;
            border-top: 1px double #1a1a1a;
        }
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        top: O;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;
        z-index: 99;
    }
    .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 13px;
        left: 0px;
        width: 80px;
        height: 83px;
        font-size: 20px;
        padding-left: 8%;
    }
    #mySidenavi {
        display: none;
    }
    #mySidenav {
        display: none;
    }
    .sidenavi {
        padding-top: 15px;
    }
    .sidenavi a {
        font-size: 18px;
    }
    .sidenavi {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 39px;
        z-index: 99;
    }
    .sidenavi a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenavi a:hover {
        color: #f1f1f1;
    }
    .sidenavi .closebtn {
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 7px;
        right: 0px;
        width: 85px;
        height: 54px;
        font-size: 20px;
    }
}

@media (max-width: 362px) {
    .classForCNXbtn {
        color: white;
        font-size: 8px;
        height: 33px;
        text-align: center;
        line-height: 3;
        vertical-align: middle;
    }
    .classForCNXbtnI {
        color: white;
        font-size: 8px;
    }
}

@media (min-width: 362px) and (max-width: 600px) {
    .classForCNXbtn {
        text-align: center;
        line-height: 2;
        vertical-align: middle;
        color: white;
        font-size: 10px;
        height: 33px;
    }
    .classForCNXbtnI {
        color: white;
        font-size: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.img {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 600px) {
    .classForCNXbtn {
        color: white;
        font-size: 10px;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.login-container {
    padding: 12px;
}

.fgps {
    color: #fcd301;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
}

.btnlogin {
    background-color: #23a152;
    float: right;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: none;
}

#id02 {
    display: none;
}

#id01 {
    display: block;
}

#scrolly {
    width: 1000px;
    height: 190px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}
input:focus{
    outline: none;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    background: #f8f7f5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #888;
}
#mobile {
    height: 667px;
    width: 375px;
    background: #c6c4c1;
    position: relative;
    margin: 30px auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#mobileBodyContent {
    background: #f8f7f5;
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#header {
    height: 60px;
    background: #eae8e5;
}
#image {
    height: 280px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#title {
    height: 20px;
    width: 200px;
    margin: 40px auto;
    background: #eae8e5;
}
#text .item {
    height: 10px;
    width: calc(100% - 40px);
    margin: 20px auto;
    background: #eae8e5;
}
#burgerBtn {
    border-top: 2px solid #f85051;
    height: 25px;
    width: 30px;
    box-sizing: border-box;
    position: absolute;
    z-index: 30;
    left: 20px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#burgerBtn:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: #f85051;
    top: 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#burgerBtn:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: #f85051;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#nav {
    position: absolute;
    z-index: 10;
    list-style-type: none;
    margin: 100px 0 0 20px;
    padding: 0;
    overflow: hidden;
}
#nav li {
    height: 30px;
    width: 0;
    margin: 30px 0;
    background: #eae8e5;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -khtml-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
#nav li + li {
    margin-left: -40px;
}
#nav li + li + li {
    margin-left: -80px;
}
#nav li + li + li + li {
    margin-left: -120px;
}
#demoSelector {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 333px;
    left: 50%;
    margin-left: 227px;
}
#demoSelector li {
    padding: 10px 0 10px 30px;
    position: relative;
    cursor: pointer;
}
#demoSelector li:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #d8d5d0;
    left: 0;
    top: 18px;
}
#demoSelector li:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    border: 2px solid #888;
    left: -6px;
    top: 12px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -khtml-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#demoSelector li.active:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -khtml-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.navigation #nav li {
    width: 200px;
    margin-left: 0;
}
.navigation #burgerBtn {
    border-color: transparent;
}
.navigation #burgerBtn:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 33px;
    left: -2px;
}
.navigation #burgerBtn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 11px;
    width: 33px;
    left: -2px;
}
.demo1.navigation #mobileBodyContent {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -khtml-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
    margin-left: 260px;
}
