
<div class="container-fluid" style="background-color:#000 ;">
  <div class="row no-gutters web"
    style="    padding-right: 80px;padding-left: 60px;padding-top: 20px;padding-bottom: 20px;">
    

        <app-side-bar></app-side-bar>
     
 

    <div class="col-xl-7 col-lg-7 col-12 col-12 col-md-7 col-xs-12 col-xm-12">
      <div class="content-main touch-left">
        <h3 class="page-title">My account</h3>

        <form action="/" class="form form-user-details">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-first-name" class="form-control-label" style="font-size: 18px;">Nom
                  d'utilisateur</label>
                <input type="text" id="user-first-name" name="firstname" value=""
                  readonly="readonly" required="required" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-city" class="form-control-label" style="font-size: 18px;"> Ville </label>
                <input type="text" id="user-city" name="city" value=""readonly="readonly"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-country" class="form-control-label" style="font-size: 18px;">Date de creation </label>
                <input type="text" id="user-country" value="" readonly="readonly" 
                  class="form-control">
                <input type="hidden" name="country" value="TN">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-id" class="form-control-label" style="font-size: 18px;">Etat du compte </label>
                <input type="text" id="user-id" name="user_id" value="" readonly="readonly" 
                  class="form-control">
              </div>
            </div>

            <div class="col-12">
              <hr>
              <!---->

            </div>
          </div>
          <input type="hidden" name="language" value="en">
        </form>
      </div>
    </div>
  </div>

  <div class="row mobi">
    <div class="col-12 col-12 col-md-12 col-xs-12 col-xm-12">
      <div class="content-main touch-left">
        <h3 class="page-title">My account</h3>
        <form action="/" class="form form-user-details">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-first-name" class="form-control-label" style="font-size: 18px;">Nom
                  d'utilisateur</label>
                <input type="text" id="user-first-name" name="firstname" value="" readonly="readonly"
                  required="required" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-city" class="form-control-label" style="font-size: 18px;"> Ville </label>
                <input type="text" id="user-city" name="city" value="" readonly="readonly" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-country" class="form-control-label" style="font-size: 18px;">Date de creation </label>
                <input type="text" id="user-country" value="" readonly="readonly" 
                  class="form-control">
                <input type="hidden" name="country" value="TN">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="user-id" class="form-control-label" style="font-size: 18px;">Etat du compte </label>
                <input type="text" id="user-id" name="user_id" value="" readonly="readonly" 
                  class="form-control">
              </div>
            </div>

            <div class="col-12">
              <hr>
              <!---->

            </div>
          </div>
          <input type="hidden" name="language" value="en">
        </form>
      </div>
    </div>
  </div>
