<div class="bg" style="height: 100vh;width: 100%;margin-left: 0px;margin-right: 0px;">
        <div class=" row cn1  "  style="margin-left: 0px;margin-right: 0px;" >
            <img src="../../../assets/M2.gif" (click)="gotoHome()" class="imm">
           
         </div>
    
         <div class="row"  style="width: 100%;margin-left: 0px;margin-right: 0px;" >
            <div class="col-md-12" >
                <div class="row" style="width: 100%;color: #d86600;margin-top: 2%;margin-left: 0px;margin-right: 0px;">
                    <p  class ="cn2" > <span style="color: #fac645;">Maintenance </span>  en cours...</p>
                  </div>
                  <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;">
                    <p class="cn3" > Site est momentanement inaccessible</p>
                  </div> 
                  <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;">
                    <p class="cn4" > Nous faisons notre  possible pour que ce delais soit le plus court possible</p>
                  </div> 
                  <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;">
                    <p  class="cn5" >Merci de revenir plus tard</p>
                  </div> 
            </div>
         </div>
           
    </div>
    
