<script src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js'></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
<div class="container-fluid"  style="background-color: #1d1d1d;" >
   <div class="row" style="margin-top:1%;margin-bottom:1%;">
    <div class="waviy" style="margin: 0 auto;">
        <span style="--i:1">M</span>
        <span style="--i:2">I</span>
        <span style="--i:3">N</span>
        <span style="--i:4">I</span>
        <span style="--i:5">&nbsp;</span>
        <span style="--i:6" style="color: #d86600">G</span>
        <span style="--i:7" style="color: #d86600">A</span>
        <span style="--i:8" style="color: #d86600">M</span>
        <span style="--i:9" style="color: #d86600">E</span>
        <span style="--i:10" style="color: #d86600">S</span>
    </div>
   </div>
   <div class="ftboby" style="width:100%">
    <div class="glowing">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="glowing">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="glowing">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="glowing">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="glowing">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="games">
        
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div class="game-card" >
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" style="background: linear-gradient(#00a5f1, #972ae0);border-radius: 20px;">
                        <div class="imgBox">
                            <img src="../../../assets/hilo-cards-withArrows.png" style="height:300px;width: 100%;">
                            <div class="flex-container" style="width: 100%">
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                  <span style="font-family: 'Luckiest Guy', cursive;">Hilo</span>
                                </a>  
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div class="game-card">
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" style="background: linear-gradient(#972ae0, #0234d8);border-radius: 20px;">
                        <div class="imgBox">
                            <img src="../../../assets/dinosaur.png" style="height:300px;width: 100%;">
                        </div>
                        <div class="imgBo">
                            <img src="../../../assets/cactus.png" style="right: 20PX; bottom:0px;height:70px;position: absolute;">
                            <div class="flex-container title-dice" style="width: 100%">
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                  <span style="font-family: 'Luckiest Guy', cursive;">Dino</span>
                                </a> 
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div  class="game-card" >
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1">
                        <div class="imgBox">
                            <img src="../../../assets/dice-bg.png"  class="dice-image-mob" >
                            <img src="../../../assets/dice-cube.png" class="dice-image2" >
                            <div class="flex-container title-dice" style="width: 100%" >
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                  <span style="font-family: 'Luckiest Guy', cursive;">Dice</span>
                                </a>  
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div class="game-card" >
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" >
                        <div class="imgBox">
                            <img src="../../../assets/chicken-bg.png" class="dice-image-mob">
                            <img src="../../../assets/chicken-dinner.png" class="dice-image2">
                            <div class="flex-container title-CHICKEN" style="width: 100%">
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                <span style="font-family: 'Luckiest Guy', cursive;">chicken</span>
                                </a>  
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div class="game-card" >
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" >
                        <div class="imgBox">
                            <img src="../../../assets/keno-bg.png" class="dice-image-mob">
                            <img src="../../../assets/keno-ball1.png" style="left: 0PX; top:9px;height:80px;position: absolute;">
                            <img src="../../../assets/keno-ball3.png" style="left: 36PX; top:50px;height:200px;position: absolute;">
                            <img src="../../../assets/keno-ball2.png" style="left: 0PX; top:200px;height:80px;position: absolute;">
                            <div class="flex-container title-dice" style="width: 100%">
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                <span style="font-family: 'Luckiest Guy', cursive;">Keno</span>
                                </a>  
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xs-12 col-12">
                <div class="game-card" >
                    <div class="tilt tilt-image" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" >
                        <div class="imgBox">
                            <img src="../../../assets/plinko-bg.png" class="dice-image-mob">
                            <img src="../../../assets/plinko-pyramid.png" style="right: 0PX; bottom:0px;height:290px;position: absolute;width: 100%;;">
                            <div class="flex-container title-dice" style="width: 100%">
                                <a data-tilt data-tilt-glare="true" data-tilt-transition="true"  data-tilt-scale="1.1" class="c-logo" href=" " title="Tilt.js demo ">
                                <span style="font-family: 'Luckiest Guy', cursive;">plinko</span>
                                </a>  
                            </div>
                        </div>
                        <div class="button"><a href="#"> Play </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

