<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">


      <!--Navbar-->
   

 <div class="row" *ngIf="username" >
  <div id="examples" class="example sesiframe"  >
     <iframe *ngIf="!isLoading" id="fileUploadIframe"  height="100%"   scrolling="no"    [src]="urlsi" frameborder="0" ></iframe>


  </div>
</div>

<div class="row web" *ngIf="!username">
   <div id="examples" class="example sesiframe">
       <iframe id="fileUploadIframe" class="sesiframe" style="width: 100%;height: 200vh;" frameborder="0" scrolling="no" height="100%" src=" https://sportnew.inplaynet.tech?token=null&c=carthago&brand=81&lang=en#/live" frameborder="0" seamless="seamless"></iframe>
   </div>
 </div>
 <div class="row mobi" *ngIf="!username">
   <div id="examples" class="example sesiframe">
       <iframe id="fileUploadIframe" class="sesiframe" style="width: 100%;height: 200vh;" frameborder="0" scrolling="no" height="100%" src="https://sportnew.inplaynet.tech/mobile/?token=null&c=carthago&brand=81&lang=en#/live" frameborder="0" seamless="seamless"></iframe>
   </div>
 </div>