<footer class="footer">
  <div class="footer-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 hidden-md-down footer-menu">
          <h4 class="footer-title web" style="    color: #f0c403;">Links</h4>
          <ul class="vertical-nav footer-nav-wrapper web">
            <li class="footer-nav">
              <a title="About Us">About Us</a>
            </li>
            <br>
            <li class="footer-nav">
              <a title="Affiliates">Affiliates</a>
            </li>
            <br>
            <li class="footer-nav">
              <a title="Customer Service">Customer Service</a>
            </li>
            <br>
            <li class="footer-nav">
              <a routerLink="terms-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
            </li>
            <br>
            <li class="footer-nav">
              <a title="Terms of Use">Terms of Use</a>
            </li>
            <br>
            <li class="footer-nav">
              <a title="Privacy Policy">Privacy Policy</a>
            </li>
            <br>
            <li class="footer-nav">
              <a title="Responsible Gaming">Responsible Gaming</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 flex-last footer-copyright">
          <div class="footer-copyright-top">
            <div id="ceg-f17ef8db-4775-49f0-b494-4b11b507bb28" data-ceg-seal-id="f17ef8db-4775-49f0-b494-4b11b507bb28"
              data-ceg-image-size="25" data-ceg-image-type="basic-small"></div>
            <b class="pr-1" style="color: #f0c403;">Copyright © 2020 Elissabet. All Rights Reserved.</b>
            <div class="row">
              <a href="https://licensing.gaming-curacao.com/validator/?lh=686550c5369e6774e220eea348e077e6&amp;rlh=18f050777afb816b90b74ec22089f353"
                target="_blank ">
                <img src="../../../assets/gc-logo.png" width="120 " height="45 "
                  alt="GAMING CURACAO LICENSEE CLICK FOR MORE INFORMATION " class="centri ">
                <img src="../../../assets/verified.png" width="25 " alt="VERIFIED URL " class="centriVer "></a>
            </div>



          </div>
          <p></p>
          <div> Play with caution! Elissabet.tn is operated by Zazasiv Group Technology Ltd a UK company registered
            under the address 71-75 Shelton Street, </div>
          <div>Covent Garden, London, England, WC2H 9JQ licensed and regulated by the law of Curacao under the Master
            License of Gaming Services Provider, N.V. #365/JAZ</div>
          <p></p>
        </div>


        <div class="col-md-3 col-xl-3 col-lg-3 col-12 col-xs-12 col-sm-12 hidden-md-down flex-last footer-social">
          <h4 class="footer-title">Social Media</h4>
          <a title="facebook" class="footer-like" target="_blank"><i class="fa fa-facebook-square"
              aria-hidden="true"></i></a>
          <a title="youtube" class="footer-icon" target="_blank"><i class="fab fa-youtube-square"></i></a>
          <a title="instagram" class="footer-icon" target="_blank"><i class="fa fa-instagram"
              aria-hidden="true"></i></a>
          <a title="Carthagebet">

          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
